<div class="d-flex">

    <app-sidebar></app-sidebar>

    <div class="content">
        <nav class="navbar navbar-expand-lg fixed-top navbar-scroll shadow-0">
            <div class="container">
              <a class="navbar-brand" routerLink="/home">Authors Data</a>
              <button class="navbar-toggler ps-0" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="d-flex justify-content-start align-items-center">
                  <i class="fas fa-bars"></i>
                </span>
              </button>
              <div class="collapse navbar-collapse" id="navbarExample01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link px-3" target="_blank" href="https://github.com/Mahmoud23199">Github</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link px-3" target="_blank" href="https://www.linkedin.com/in/mahmoud-salah-a78a701b7/">LinkedIn</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link px-3" target="_blank" href="https://mahmoud23199.github.io/MyPortfolio-using-Html-5--Css-3--Bootstrap-Js/">Portfolio</a>
                  </li>
                </ul>
          
                <ul class="navbar-nav flex-row justify-content-between">
          
                  <select [(ngModel)]="dir" (change)="sendFilterData()" class="form-select" aria-label="Disabled select example"style="height: 37px;max-width: 150px;">
                    <option [ngValue]="null" selected>Sort type</option>
                    
                    <option value="ASC">Ascending</option>
                    <option value="DES">Descending</option>
                  </select>
          
                  <select [(ngModel)]="sort" (change)="sendFilterData()" class="form-select" aria-label="Disabled select example"style="height: 37px;max-width: 150px;">
                    <option [ngValue]="null" selected>Sort By</option>
                    <option value="title">Name</option>
                    <option value="publicationDate">PublicationDate</option>
                    <option value="creationDate">CreationDate</option>
                  </select>
                  
              
          
                  <li class="nav-item">
                    <div class="container-fluid">
                      <div class="d-flex" role="search">
                        <input #filter class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
                        <button class="btn btn-outline-danger" (click)="onSubmit(filter.value)">Search</button>
                      </div>
                    </div>
                     <!-- <div>{{ sort}} and {{dir}} and {{filterdata}}</div> -->
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    </div>

    <div style="width: 100%;margin-top: 20px;margin: 15px;">
        <!-- <div class="data-info">
          
            <div class="box">
                <i class="fa-regular fa-address-card"></i>
              <div class="data">
                 <p>posts</p>
                 <span>100</span>
              </div>
            </div>
 
            <div class="box">
             <i class="fas fa-user"></i>
             <div class="data">
                <p>users</p>
                <span>100</span>
             </div>
           </div>
 
           <div class="box">
            <i class="fa-solid fa-user-tie"></i>
             <div class="data">
                <p>authors</p>
                <span>100</span>
             </div>
           </div>
 
           <div class="box">
            <i class="fa-solid fa-hand-holding-dollar"></i>
             <div class="data">
                <p>revenue</p>
                <span>570$</span>
             </div>
           </div>
         </div>  -->
        
        
         <section class="intro mt-5">
          <button (click)="AddedNews()" class="introbtn" style="background-color: #123; color: aliceblue;padding: 5px 10px;border-radius: 5px; ">  <i class="fa-solid fa-user-tie"></i> Added Author</button>
            <div class="gradient-custom-1 h-100">
              <div class="mask d-flex align-items-center h-100">
                <div class="container">
                  <div class="row justify-content-center">
                    <div class="col-12">
                      <div class="table-responsive bg-white">
                        <table class="table mb-0">
                          <thead>
                            <tr>
                              <th scope="col">Author Name</th>
                              <th scope="col">Country</th>
                              <th scope="col">Biography</th>
                              <th scope="col">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of allAuthorData ">
                              <th scope="row" style="color: #666666;">{{item?.authorName}}</th>
                             
                              <td>{{item?.country}}</td>
                              <td>{{item?.biography}}</td>

                              <td>
                                <i (click)="update(item.id)" class="fa-solid fa-pen-to-square pe-2" style="font-size: 20px; color: burlywood; cursor: pointer;"></i>
                                <i (click)="delete(item.id)" class="fa-solid fa-trash" style="font-size: 20px; color: red; cursor: pointer;"></i>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
       
    </div>


</div>


<!-- 
<table>
    <thead>
        <tr>
            <th>ww</th>
            <th>dd</th>
            <th>dd</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>a</td>
            <td>a</td>
            <td>a</td>
            <td>a</td>

        </tr>
    </tbody>
 </table> -->