
    <div class="menu">
        <ul>
            <li class="profile"> 
                <!-- <i class="fa-solid fa-bars"></i> -->
                <i class="fa-solid fa-laptop"></i>
                <h2>YuTech</h2>
            </li>
            <li>
                <a (click)="home()" class="active">
                    <i class="fas fa-home"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a (click)="home()">
                    <i class="fa-regular fa-newspaper"></i>
                    <p>News</p>
                </a>
            </li>
            <li>
                <a  (click)="authorPage()">
                    <i class="fa-solid fa-user-tie"></i>
                    <p>Authors</p>
                </a>
            </li>
            <li>
                <a  (click)="home()">
                    <i class="fa-solid fa-chart-simple"></i>
                    <p>Charts</p>
                </a>
            </li>
            <li>
                <a  (click)="home()">
                    <i class="fa-regular fa-address-card"></i>
                    <p>post</p>
                </a>
            </li>
            <li>
                <a  (click)="home()">
                    <i class="fa-solid fa-gears"></i>
                    <p>settings</p>
                </a>
            </li>
            <li class="log-out" (click)="logout()">
                <a href="#">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <p>logout</p>
                </a>
            </li>
        </ul>
    
    </div>  
    
 

